<div style="width: 100%;height: 100vh;background-color: rgb(255,25,0);">
    <div style="padding: 0.5em;margin-bottom: 7px;color: white;">
        <img style="padding-top: 2em;" alt="Logo Stadt Winterthur" src="assets/win_logo_invers.png" width="70">&nbsp;
        <span style="font-size: 250%;">winergie </span><span class="material-icons">electrical_services</span>
    </div>
    <h2 style="padding: 1em;padding-top: 0px;margin-top: 0px;font-size: 100%; color: white;">Energieberatung f&uuml;r
        Winterthur</h2>
    <div>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Strasse und Hausnummer</mat-label>
                <input type="text"
                        placeholder="Strasse Hausnummer"
                        aria-label="Strasse und Hausnummer"
                        matInput
                        [formControl]="addressControl"
                        [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let address of addresses" [value]="address">
                        {{address}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
</div>